{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}
    {% endblock header %}

{% block content %}
    
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5"> 
            
            <div class="card p-4">
                <h3 class="card-title text-center">Đăng nhập tài khoản</h3>
                <hr>
                
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        <p>Tên người dùng hoặc mật khẩu không khớp. Vui lòng thử lại.</p>
                    </div>
                {% endif %}

                <form method="post" action="{% url 'users:login' %}" class="form">
                    {% csrf_token %}
                    
                    {% bootstrap_form form %}

                    <div class="text-center"> 
                        {% buttons %}
                            <button name="submit" class="btn btn-primary btn-block">Đăng nhập</button>
                        {% endbuttons %}
                    </div>

                    <input type='hidden' name='next' value="{% url 'learning_logs:index' %}" />
                </form>
            </div>
            
        </div>
    </div>
    {% endblock content %}